<div class="container">
	<h4 class ="center">Create your Resume 5 Steps</h4>
    <p class ="center"> Your bio data >> <b>Education </b>   >> Work Experience  >> Skills/Hobbies  >> Referees </p>
    <div class="col-sm-8">
        <p>Current Schools</p>
        <p>insert a list of current schools here</p>
    </div>
    <div class="col-sm-8">
			<%= form_for @edu do |f| %>
    	<div class= "row"> 
    		<div class="col-sm-10">
    			<div class="form-group">
    				<%= f.label :school %>
    				<%= f.text_field :sname, autofocus: true, class: "form-control input-lg" %>
    				<small class="healer block"> School name in full : i.e, University of Nairobi,   </small>
    			</div><!-- /.form-group -->
    		</div> 
            <div class="col-sm-5">
                <div class="form-group">
                    <%= f.label :Start_Date %>
                    <%= f.date_field :sdate,  class: "form-control input-lg" %>
                    <small class="healer block"> Start Date</small>
                </div><!-- /.form-group -->
            </div> 
    	
            <div class="col-sm-5">
                    <div class="form-group">
                        <%= f.label :End_Date %>
                        <%= f.date_field :edate,  class: "form-control input-lg" %>
                        <small class="healer block"> End date or Your target graduation date </small>
                    </div><!-- /.form-group -->
                </div> 

                <div class="col-sm-10">
                <div class="form-group">
                    <%= f.label :course %>
                    <%= f.text_field :course,  class: "form-control input-lg" %>
                    <small class="healer block"> Course you took or are taking </small>
                </div><!-- /.form-group -->
                </div>
                <div class="col-sm-10">
                <div class="form-group">
                    <%= f.label :description %>
                    <%= f.text_area :description,  class: "form-control input-lg" %>
                    <small class="healer block"> More information about your studies</small>
                </div><!-- /.form-group -->
                </div> 
    		
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                 <%= f.submit "Click to Add ", class: "btn btn-secondary btn-block" %>
                </div>
            </div>
    		<div class="col-sm-5 align-right">
	  			<div class="form-group">
	             <%= link_to "Next (experience)", new_company_path, class: "btn btn-secondary btn-block" %>
	            </div>
        	</div>
	</div>
		<% end %>

</div><!-- /.col-* -->

