  <div class="container">
    <div class="row">
    <div class="col-sm-9">
   <h2 class="page-header">Dashboard</h2>
        <% if @company.blank? %>
        <p> You do not have any company or organisation, <%= link_to "Create a new Company".html_safe, new_company_path %> to hire an Intern  </p>
        <% else %>
        <p> Select one of your companies below to view or <B> post an internship</B> oportunity or <%= link_to "Create a new Company".html_safe, new_company_path %> </p>
        <%end%>
            
        <div class="companies-list">
            <hr>
            <h4>My Companies</h4>
            <% @company.each do |company| %> 
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                        (logo)
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading">
                        <h2><%= link_to company.cname, company %></h2>
                        <h3><%= company.location %></h3>
                          <span class="small"><%= link_to "Update Company", edit_company_path(company) %></span>
                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <span><%= link_to "#{@gigs.length} open positions", company %> </span><br>
                         <span>10 Applications Recieved</span>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        <%= link_to "Post an Internship".html_safe, new_company_gig_path(company), class: "btn btn-secondary" %> <br>
                       
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->
            <% end %>

        </div><!-- /.companies-list -->
        <div class="companies-list">
            <hr>
<h4>My Job postings</h4>

        </div>

 <div class="center">
    <ul class="pagination">
        <li>
            <a href="#">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>

        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
  </div><!-- /.center -->
    </div><!-- /.col-* -->

    <div class="sidebar col-sm-3">
        <h2>Applications Recieved</h2>

        <div class="positions-list-small">
            <div class="positions-list-small-item">
                <h2><a href="#">UX/UI Senior Designer</a></h2>
                <h3><span>(logo))</span> Dropbox Inc. <br>San Francisco, California</h3>
            </div>
        </div><!-- /.positions-list-small -->
    </div><!-- /.col-* -->
</div><!-- /.row -->

</div><!-- /.container -->

