      <!--Either display companies by the current user logged in or all companies -->
 <div class="container">
    <div class="row">
    <div class="col-sm-9">

        <h2 class="page-header">My Companies</h2>

        <% if @company.blank? %>
        <p> You do not have any company or organisation, <%= link_to "Create a new Company".html_safe, new_company_path %> to hire an Intern  </p>
        <% else %>
        <p> Select one of your companies below to <B> post an internship</B> oportunity or <%= link_to "Create a new Company".html_safe, new_company_path %> </p>
        <%end%>
            
        <div class="companies-list">
            <% @company.each do |company| %> 
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                        (logo)
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading">
                        <h2><%= link_to company.cname, company %></h2>
                        <h3><%= company.location %></h3>
                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <a href="#">4 open positions</a>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <p class="count"> Interns</p>
                        <span class="companies-list-item-rating-count">53</span>
                         <span class="pcompanies-list-item-rating-count"><%= link_to "Delete", company, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->
            <% end %>

        </div><!-- /.companies-list -->
        </div>
        </div>