  <div class="container">
    <div class="row">
    <div class="col-sm-12">
   <h2 class="page-header">Dashboard</h2>
        <% if @company.blank? %>
        <p> You do not have any company or organisation, <%= link_to "Create a new Company".html_safe, new_company_path %> to hire an Intern  </p>
        <% else %>
        <p> Select one of your companies below to view or <B> post an internship</B> oportunity or <%= link_to "Create a new Company".html_safe, new_company_path %> </p>
        <%end%>
            
        <div class="companies-list">
            <hr>
            <h4>My Companies</h4>
            <% @company.each do |company| %> 
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                        (logo)
                    </div><!-- /.companies-list-item-image -->

                     <div class="companies-list-item-heading">
                        <h2><%= link_to company.cname, company %></h2>
                          <span class="small"><%= link_to "Update Company", edit_company_path(company) %></span>
                    </div><!-- /.companies-list-item-heading -->


                    <div class="companies-list-item-heading">

                    <h3><%= company.location %></h3>
                    </div><!-- /.companies-list-item-heading -->
                    
                    <div class="companies-list-item-count">
                        <span><%= link_to "#{@gigs.length} open positions", company %> </span><br>
                         
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        <%= link_to "Post an Internship".html_safe, new_company_gig_path(company), class: "btn btn-secondary" %> <br>
                       
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->
            <% end %>

        </div><!-- /.companies-list -->

        <!-- Display a list of all the gigs for this users, status, budget, applications received, delete & update -->

        <% @gigs.each do |gig| %>
        <span><%= link_to gig.name, gig %>  </span><br>
        <span><%= gig.budget %> </span>
        <span><%= gig.startdate %> </span>
        <%end%>

 <div class="center">
    <ul class="pagination">
        <li>
            <a href="#">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>

        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
  </div><!-- /.center -->
    </div><!-- /.col-* -->

</div><!-- /.row -->

</div><!-- /.container -->

