<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="company-card">
    <div class="company-card-image">
        <span>Employer Details</span>
        logo goes here
    </div><!-- /.company-card-image -->

    <div class="company-card-data">
        <dl>
           
            <dt>E-mail</dt>
            <dd><%= @company.email %></dd>

             <dt>Website</dt>
            <dd><%= @company.website %></dd>

            <dt>Phone</dt>
            <dd>coming soonn</dd>

            <dt>Location</dt>
            <dd><%= @company.location %></dd>
        </dl>
    </div><!-- /.company-card-data -->
</div><!-- /.company-card -->


            <!--<div class="widget">
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook">ff</i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div><!-- /.widget -->
<!-- 
            <div class="widget">
                <h2>Contact Company</h2>

                <form method="get" action="?">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div><!-- /.form-group -->
<!-- 
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your E-mail">
                    </div><!-- /.form-group -->

                    <!-- div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                    </div><!-- /.form-group --> 

                 <!--    <button class="btn btn-secondary pull-right" type="submit">Post Message</button>
                </form>
            </div> --><!-- /.widge -->
        </div><!-- /.col-* -->

        <div class="col-sm-8">
            <div class="company-header">
              

                <h1><%= @company.cname %><span>industry</span></h1>

                <%= link_to "Post an Internship".html_safe, new_company_gig_path(@company), class: "btn btn-secondary" %>
            </div><!-- /.company-header -->

            <div class="company-stats">
                <div class="company-stat">
                    <span>Positions</span>
                    <strong>12</strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Employees</span>
                    <strong>43</strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Followers</span>
                    <strong>324</strong>
                </div><!-- /.company-stat -->
            </div><!-- /.company-stat -->

            <h3 class="page-header">Company Profile</h3>

            <p><%= @company.description %></p>

            <h3 class="page-header">Open Positions</h3>

            <div class="positions-list">
                <% @gigs.each do |gig| %> 
                <div class="positions-list-item">

                    <h2><%= link_to gig.name %></h2>
                    <h3><span>(logo)</span> San Francisco, Dropbox <br></h3>
                    <p><%= gig.location %></p>
                    <%= gig.duration %>
                    <%= gig.startdate %>
                    

                    <div class="position-list-item-date">11/11/2015</div><!-- /.position-list-item-date -->
                    <div class="position-list-item-action"><a href="#">Save Position</a></div><!-- /.position-list-item-action -->
                    <% end %>
                </div><!-- /.positions-list-item -->
            </div><!-- /.positions-list -->
        </div><!-- /.col-sm-8 -->
    </div><!-- /.row -->
</div><!-- /.container -->