<div class="container">
    <div class="row">
                        <p><%= link_to '&larr; Back to my companies'.html_safe, listing_path, class: "btn btn-link"  %></p>
        <div class="col-sm-4">
          <div class="company-card">
            <div class="company-card-image">
                <span><%= @company.cname%> Card</span>
            </div><!-- /.company-card-image -->
                <div class="company-card-data">
                    <dl>
                       
                        <dt>E-mail</dt>
                        <dd><%= @company.email %></dd>

                         <dt>Website</dt>
                        <dd><%= @company.website %></dd>

                      <!--   <dt>Phone</dt>
                        <dd>coming soonn</dd>
 -->
                        <dt>Location</dt>
                        <dd><%= @company.location %></dd>
                    </dl>

                </div><!-- /.company-card-data -->
        </div><!-- /.company-card -->


            <div class="widget">

                <h3 class="page-header">Company Profile</h3>

            <p><%= @company.description %></p>

            <span class="small"><%= link_to "Delete this company", company_path(@company), method: :delete %> </span>

            </div><!-- /.widget -->

          
        </div><!-- /.col-* -->

        <div class="col-sm-8">
            <div class="company-header">
              

                <h1><%= @company.cname%><span>industry</span></h1>




                <%= link_to "Post an Internship".html_safe, new_company_gig_path(@company), class: "btn btn-secondary" %>
            </div><!-- /.company-header -->

            <div class="company-stats">
                <div class="company-stat">
                    <span>Positions</span>
                    <strong><%= "#{@company.gigs.length}" %></strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Applications</span>
                    <strong>43</strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Interviewed</span>
                    <strong>324</strong>
                </div><!-- /.company-stat -->
            </div><!-- /.company-stat -->
               
            <h3 class="page-header">Open Positions</h3>

            <div class="positions-list">
                    <% @gigs.each do |gig| %> 
                <div class="positions-list-item">
                    <h2><%= link_to gig.name, company_gig_path(@company, gig) %></h2>
                    <h3><%= gig.location %><br></h3>

                        <p><%= gig.description %></p>
                        <Span class="small">Duration:<b> <%= gig.duration %> Months </b></span>
                            <span class="small"> Starting on: <b><%= gig.startdate %></b><br>
                         <span class="small"><%= link_to "Update", edit_company_gig_path(@company, gig) %></span> or <span class="small"><%= link_to "Delete", company_gig_path(@company, gig), method: :delete %> </span>


                    <div class="position-list-item-date"> <small = "small ">Posted: <%= time_ago_in_words(gig.created_at) %> ago</div><!-- /.position-list-item-date -->

                   <!--  <span class="position-list-item-action">Number of applicants<br> -->
                       


                    </div><!-- /.position-list-item-action -->
                <% end %>
                    </div><!-- /.positions-list-item -->
            </div><!-- /.positions-list -->
        </div><!-- /.col-sm-8 -->
    </div><!-- /.row -->
</div><!-- /.container -->