<div class="container">
	<h3 class ="center">Post an Internship Opportunity For <%= @company.cname%> </h3>
	<br>
    <div class="col-sm-8">
<%= form_for([@company, @gig ]) do |f| %>   

<!-- error control -->



    	<div class= "row"> 
    		<div class="col-sm-10">
    			<div class="form-group">
    				<%= f.label :Position %>
    				<%= f.text_field :name, autofocus: true, class: "form-control input-lg" %>
    			</div><!-- /.form-group -->
                
    		</div> 
            <div class="col-sm-10">
                <div class="form-group">
                    <%= f.label :category_id %>
                    <small>We will use category to match you to the right interns</small>
                    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), { }, class: "form-control " %>
                </div><!-- /.form-group -->
                
            </div>
    		<div class="col-sm-10">
    			<div class="form-group">
    				<%= f.label :description %>
                    <small>Be as descriptive as possible about the work </small>
    				<%= f.text_area :description, class: "form-control" %>
    			</div><!-- /.form-group -->
    		</div>
            <div class="col-sm-10">
               
                <div class="form-group">
                    <%= f.label :skills %>
                     <small>required for this internship, separate with commas i.e Ms Word, Excel</small>
                    <%= f.text_area :skill_list, rows: 3,  class: "form-control" %>
                </div><!-- /.form-group -->
                 
            </div>
           
    		<div class="col-sm-10">
    			<div class="form-group">
    				<%= f.label :location %>
                    <small>Where will the intern work from?</small>
    				<%= f.text_field :location, class: "form-control " %>
    			</div><!-- /.form-group -->
    		</div>


            <div class="col-sm-4">
                <div class="form-group">
                    <%= f.label :stipend %>
                    <div class="input-group">
                      <div class="input-group-addon">Kshs</div>
                      <%= f.number_field :budget, :min => 5000, class: "form-control" %>
                        </div>
                    
                </div><!-- /.form-group -->
            </div>

            <div class="col-sm-2">

                <div class="form-group">
                    <%= f.label :Months %> <br>
                    <%= f.select :duration, (0..6),  class: "form-control input-lg" %>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <%= f.label :Start_Date %> 
                    <%= f.date_field :startdate, min: Date.today+2, class: "form-control" %>
                </div><!-- /.form-group -->
            </div>
            
    		<div class="col-sm-10">
  			<div class="form-group">
             <!-- <button type="submit" class="btn btn-secondary btn-block">   <%= f.submit "Sign up" %> </button> -->
             <%= f.submit "Post the Opportunity", class: "btn btn-secondary btn-block" %>
            </div>

            
        </div>
		</div>
		<% end %>
    </div><!-- /.col-* -->

    <div class="col-sm-4">
    	<div class="widget">
            <h2>How it works</h2>
            <p>Post an appealing position in your company to attract smart interns, you will find listed candidates on your dashboard </p>
            <p>Describe the position and skilled requireds in detail, add a start date and a stipend, atleast a minimum of Kshs 5000 to cover their overheads</p>
            <p>A list of applicants will appear on your listing.</p>
        </div><!-- /.widget -->
      
        <div class="widget">
            <h2>Make sure to Include</h2>
            <ul class="nav">
                <li><a href="#"><span>1.</span> Describe of work</a></li>
                <li><a href="#"><span>2.</span> Months: Duration of internship</a></li>
                <li><a href="#"><span>3.</span> Stipend: Basic pay, min 5000</a></li>
                <li><a href="#"><span>4.</span> Skills required</a></li>
                <!-- <li><a href="#"><span>5.</span> Mentorship Opportunities </a></li> -->
            </ul>
        </div><!-- /.widget -->    
    </div><!-- /.col-* -->
</div><!-- /.container -->