<div class="container">
        <div class="main">
            <!-- <div class="document-title"> -->
                 <div class="position-header">
					<h1> <%= @gig.name %> <span class="label label-success"><%= @gig.budget %></span></h1>
					<small>Created on <%= @gig.created_at.strftime (" %d of %b %Y") %></small><br>
					<small><%= @gig.location %> </small>

					<!-- <h2><span class="position-header-company-image"></span><%= link_to @company.name %>	</h2> -->
					
				</div><!-- /.position-header -->
	<div class="row">
		<h3 class="page-header">Description, skills, responsibilities</h3>
		<div class="col-sm-8">
			
			<p>
				<%= @gig.description %> 
			</p>

			<h3 class="page-header">Skills</h3>
			<% @gig.skills.each do | skill | %>

			<ul>
				<li><%= skill.name %></li>
		
			</ul>

			<% end %>

			<h3 class="page-header">  Applications received so far: <span class="label label-info"><%= "#{@proposal.length}" %></span> </h3>
		<div class="companies-list">

				<% @gig.proposals.each do |proposal| %>
	           
	                <div class="companies-list-item">
	                 <!--    <div class="companies-list-item-image">
	                        A
	                    </div>
 -->
	                    <div class="companies-list-item-heading">
	                        <h2><%= proposal.user %></h2>
	                        <h3>Category</h3>
	                        <small>Applied: <%= time_ago_in_words(proposal.created_at) %> ago</small>


	                    </div><!-- /.companies-list-item-heading -->

	                    <div class="companies-list-item-count">
	                    	<h3>My Introduction </h3>
	                        <span><%= proposal.description %></span><br>
	                    </div><!-- /.positions-list-item-count -->

	                    <div class="companies-list-item-rating">
	                         <span class= "form-control" >View Resume</span><br>
	                         <%= form_for @gig, method: :put do |f| %>

	                         <%= f.submit "Invite for Interview", class: "btn" %>

	                         <% end %>
	                         
	                    </div><!-- /.companies-list-item-rating -->
	                </div><!-- /.companies-list-item -->
	             
	             <% end %>
        </div><!-- /.companies-list -->
		</div><!-- /.col-* -->



<div class="col-sm-4">
	<div class="position-general-information">
				<dl>
					<dt>Status</dt>
					<dd><%= @gig.open %> </dd>

					<dt>Duration</dt>
					<dd><%= @gig.duration %> Months </dd>

					<dt>Stipend</dt>
					<dd><%= @gig.budget %>/= (pm)</dd>

					<dt>Start Date</dt>
					<dd><%= @gig.startdate.strftime (" %d - %b - %Y") %> </dd>

				</dl>
			</div><br><!-- /.position-general-information -->

			<div class="widget">
				<h2>Apply for this Internship</h2>
				<%= form_for :proposals, url: company_gig_proposals_path(@company, @gig) do |f| %>
					<div class="form-group">
                        <%= f.label :Introduce_yourself %>
                        <%= f.text_area :description, rows: 5,  class: "form-control" %>
                    </div><!-- /.form-group -->
               		<%=f.submit "Submit Application", class: "btn btn-secondary pull-right" %>
				<% end %>
			</div><!-- /.widget -->
		</div><!-- /.col-* -->

	</div><!-- /.row -->
</div><!-- /.container -->

</div><!-- /.main -->
</div><!-- /.main-wrapper -->