<div class="container">
        <div class="main">
            <!-- <div class="document-title"> -->
                 <div class="position-header">
					<h1> <%= @gig.name %> <span class="label label-success"><%= @gig.budget %></span></h1>
					<small>Created on <%= @gig.created_at.strftime (" %d of %b %Y") %></small><br>
					<small><%= @gig.location %> </small>

					<!-- <h2><span class="position-header-company-image"></span><%= link_to @company.name %>	</h2> -->
					
				</div><!-- /.position-header -->
	<div class="row">
		<h3 class="page-header">Description, skills, responsibilities</h3>
		<div class="col-sm-8">
			
			<p>
				<%= @gig.description %> 
			</p>

			<h3 class="page-header">Skills</h3>
			<% @gig.skills.each do | skill | %>

			<ul>
				<li><%= skill.name %></li>
		
			</ul>

			<% end %>

			<h3 class="page-header">Applications received so far </h3>

		<div class="companies-list">
			<% if @proposals.present? %>
				<% @proposals.each do |proposal|%>
	           
	                <div class="companies-list-item">
	                    <div class="companies-list-item-image">
	                        image
	                    </div>

	                    <div class="companies-list-item-heading">
	                        <h2>name<%= proposal.user %></h2>

	                        <h3>Bio</h3>
	                    </div><!-- /.companies-list-item-heading -->

	                    <div class="companies-list-item-count">
	                        <span><%= proposal.description %></span><br>
	                    </div><!-- /.positions-list-item-count -->

	                    <div class="companies-list-item-rating">
	                         <span>statusOpen</span><br>
	                         <span><%= @proposal.created_at.strftime (" %d of %b %Y") %></span>
	                    </div><!-- /.companies-list-item-rating -->
	                </div><!-- /.companies-list-item -->
	               <% end %>
	             <% end %>
        </div><!-- /.companies-list -->
		</div><!-- /.col-* -->



<div class="col-sm-4">
	<div class="position-general-information">
				<dl>
					<dt>Status</dt>
					<dd><%= @gig.open %> </dd>

					<dt>Duration</dt>
					<dd><%= @gig.duration %> Months </dd>

					<dt>Stipend</dt>
					<dd><%= @gig.budget %>/= (pm)</dd>

					<dt>Start Date</dt>
					<dd><%= @gig.startdate.strftime (" %d - %b - %Y") %> </dd>

				</dl>
			</div><br><!-- /.position-general-information -->

			<div class="widget">
				<h2>Apply for this Internship</h2>
				<%= form_for :proposal, url: company_gig_proposals_path(@company, @gig) do |f| %>
					<div class="form-group">
                        <%= f.label :description %> <span class="small"></span>
                        <%= f.text_area :description, rows: 7, class: "form-control" %>
                    </div><!-- /.form-group -->
               		<%=f.submit "Submit Application", class: "btn btn-secondary pull-right" %>
				<% end %>
			</div><!-- /.widget -->
		</div><!-- /.col-* -->

	</div><!-- /.row -->
</div><!-- /.container -->

</div><!-- /.main -->
</div><!-- /.main-wrapper -->