
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<h2 class="page-header"><strong><%= Resume.count %></strong> candidates looking for attachments</h2>

			<div class="candidates-list">
	           <% @resume.each do |resume| %>
        	<div class="candidates-list-item">
                <div class="candidates-list-item-heading">
            		<div class="candidates-list-item-image">
            			<!-- <a href="#">
            				<img src="assets/img/tmp/resume.jpg" alt="Elliot Sarah Scott">
            			</a> -->

                        
                            <!-- <a href="#" class="candidates-list-item-image-label">
                                <img src="assets/img/tmp/instagram.png" alt="">
                            </a>    -->                 
                        
            		</div><!-- /.candidates-list-item-image -->

                    <div class="candidates-list-item-title">
                        <h2><%= link_to resume.fname, resume %> <%= link_to resume.lname, resume %></a></h2>
                        <h3><%= resume.category %></h3>
                    </div><!-- /.candidates-list-item-title -->
                </div><!-- /.candidates-list-item-heading -->

                    <div class="candidates-list-item-location">
                        <i class="fa fa-map-marker"></i> <%= resume.address %>
                    </div><!-- /.candidates-list-item-location -->

                <div class="candidates-list-item-profile">
                    <span class="candidates-list-item-profile-count">92% completed</span>
                	<span class="candidates-list-item-profile-bar"><span style="width: 92%"></span></span>
                                   
                </div><!-- /.candidates-list-item-rating -->    		
        	</div><!-- /.candidates-list-item -->
            <% end %> 	
            </div><!-- /.containert -->
        </div>
    </div>
</div>

