            <div class="container">
    <div class="resume">
    <div class="resume-main">
        <div class="resume-main-image">

        </div><!-- /.resume-main-image -->

        <div class="resume-main-content">
            <h2><%= @resume.fname %><%= @resume.lname %>
                <!-- <span class="resume-main-verified">v<i class="fa fa-check"></i></span> -->
            </h2>

            <h3><%= @resume.category %></h3><br>
            <small class="resume-main-contacts">
                 Phone <%= @resume.phone %> | Email: <%= current_user.email %> | From: <%= @resume.address %>
            </small><br>
            <span class="companies-list-item-rating-count"><%= link_to "Delete this resume", @resume, method: :delete, data: { confirm: 'Are you sure? this will destory the resume completely' } %></span> 
         <!-- <div class="resume-main-actions">
                <a href="#" class="btn btn-secondary"><i class="fa fa-download"></i> Download</a>
                <a href="#" class="btn btn-default">Contact</a>
                <a href="#" class="btn btn-default">Follow</a>
            </div>  --><!-- /.resume-main-actions -->
        </div><!-- /.resume-main-content -->
    </div><!-- /.resume-main -->

    <div class="resume-chapter">
        <div class="resume-chapter-inner">
            <div class="resume-chapter-title">
                <h2>Summary</h2>
            </div><!-- /.resume-chapter-title -->

            <div class="resume-chapter-content">
                <p>
                    <%= @resume.bio %>
                </p>

            </div><!-- /.resume-chapter-content -->
        </div><!-- /.resume-chapter-inner -->
    </div><!-- /.resume-chapter -->
    <div class="resume-chapter">
        <div class="resume-chapter-inner">
            <div class="resume-chapter-content">
                <h2 class="mb40">Experience: <span> 
                    <%= link_to "Add",  new_resume_job_path(@resume), class: "btn btn-secondary" %></span></h2>

                <dl>
                    <% @jobs.each do |job| %>

                    <dt><%= job.sdate.strftime ("%Y") %> - <%= job.edate.strftime ("%Y") %> </dt>
                    <dd>
                        <Strong><%= job.cname %></Strong><br>
                        <i class="small"><%= job.role %></i>
                        <p><%= job.description %></p>
                    </dd>
                    <% end %>      
                </dl>
            </div><!-- /.resume-chapter-content -->
        </div><!-- /.resume-chapter-inner -->
    </div><!-- /.resume-chapter -->
    <div class="resume-chapter">
        <div class="resume-chapter-inner">
            <div class="resume-chapter-content">
                <h2 class="mb40">Education: <span> <%= link_to "Add",  new_resume_edu_path(@resume), class: "btn btn-secondary" %></span></h2>

                <dl>
                    <% @edus.each do |edu| %>

                    <dt><%= edu.sdate.strftime ("%Y") %> - <%= edu.edate.strftime ("%Y") %> </dt>
                    <dd>
                        <Strong><%= edu.sname %></Strong><br>
                        <i class="small"><%= edu.course %></i>
                        <p><%= edu.description %></p>
                    </dd>
                    <% end %>      
                </dl>
            </div><!-- /.resume-chapter-content -->
        </div><!-- /.resume-chapter-inner -->
    </div><!-- /.resume-chapter -->
 <div class="resume-chapter">
        <div class="resume-chapter-inner">
            <div class="resume-chapter-content">
                <h2 class="mb40">Skills: <span> <%= link_to "Add",  new_resume_edu_path(@resume), class: "btn btn-secondary" %></span></h2>

                <dl>
                    <% @edus.each do |edu| %>

                    <dt><%= edu.sdate.strftime ("%Y") %> - <%= edu.edate.strftime ("%Y") %> </dt>
                    <dd>
                        <Strong><%= edu.sname %></Strong><br>
                        <i class="small"><%= edu.course %></i>
                        <p><%= edu.description %></p>
                    </dd>
                    <% end %>      
                </dl>
            </div><!-- /.resume-chapter-content -->
        </div><!-- /.resume-chapter-inner -->
    </div><!-- /.resume-chapter -->
        </div><!-- /.resume-chapter-inner -->
</div><!-- /.resume -->

</div><!-- /.container -->
