<div class="page-wrapper">
<div class="header-wrapper">
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-brand">
                    <div class="header-logo">
               
                        <i class="profession profession-logo"></i>
                         <% if user_signed_in? && current_user.is_employer? %>

                        <span class="header-logo-text"><%= link_to "Ma", root_path %> <span class="header-logo-highlight">:</span><%= link_to "Interns", root_path %></span>

                      <% else %>

                        <span class="header-logo-text"><%= link_to "Ma", root_path %> <span class="header-logo-highlight">:</span><%= link_to "Interns", root_path %></span>
                        <% end %>
                    </div><!-- /.header-logo-->

                    <div class="header-slogan">
                        <span class="header-slogan-slash">/</span>
                        <span class="header-slogan-text">Attachment job Portal </span>
                    </div><!-- /.header-slogan-->
                </div><!-- /.header-brand -->

                <ul class="header-actions nav nav-pills">

                    <!--if user wants to post an internship, is user logged in? ask to log in, has User created a company? if not ask to create a company, if user has created a company, allow to create an internship under that company, user can create multiple companies and multiple internships under the company -->
                   


                <% if user_signed_in? && current_user.is_employer? %>
                  <li><%= link_to "Find Interns", resumes_path, class: "primary" %></li> 
                  <li><%= link_to "Dashboard: Post Job &raquo".html_safe, listing_path, class: "primary" %>
                <% elsif user_signed_in? %>
                  <li><%= link_to "Find Internship".html_safe, gigs_path, class: "primary" %>
                  <li><%= link_to "Companies hiring", companies_path, class: "primary" %></li> 
                <% else %>
                  <li><%= link_to "Find Interns", resumes_path, class: "primary" %></li> 
                  <li><%= link_to "Post Internship Opportunity".html_safe, listing_path, class: "primary" %></li> 
                <% end %>      
                  
                 
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <% if user_signed_in? %> 
                          <%= current_user.name %>  <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
                            <% else %>
                             <li><%= link_to "Login in", new_user_session_path %></li>
                             <li><%= link_to "Sign Up", new_user_registration_path %></li>
                             <li role="separator" class="divider"></li>
                            <% end %> 
                          </ul>
                      </li>
                </ul><!-- /.header-actions -->

                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.container -->
              </div>
        <!-- /.header-top -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper-->






